.*.swp
*.o
*.log
*.meta
master.tids
temp_folder
tmp_folder
dump.rdb
redis-benchmark
redis-check-aof
redis-check-rdb
redis-check-dump
redis-cli
redis-sentinel
redis-server
doc-tools
release
bin/
obj/
Debug/
Release/
debug/
release/
deps/lib/
x64/
misc/*
src/release.h
appendonly.aof
SHORT_TERM_TODO
release.h
src/transfer.sh
src/configs
redis.ds
src/redis.conf
src/nodes.conf
deps/lua/src/lua
deps/lua/src/luac
deps/lua/src/liblua.a
.make-*
.prerequisites
*.dSYM
Makefile.dep
*.user
*.exe
*.sdf
*.suo
msvs/ReleasePackagingTool
msvs/ipch
msvs/RedisServer.opensdf
!msvs/RedisWaInst/bin/*
!msvs/RedisWaInst/bin/Inst4WA/*
!msvs/RedisWaInst/bin/RedisPkgBin/*
msvs/RedisWAInst/src/RedisInstBin/
msvs/RedisWAInst/src/RedisInstWA/app.config
msvs/jemalloc
msvs/BuildRelease
msvs/Documentation
msvs/.resources
tests/tmp/
.vscode/
.vs/
/utils/debianpkg/build/**/*
/utils/debianpkg/*.deb
msvs/packages/AWSSDK*
!x64/Release/unit-tests.pgd
enc_temp_folder/
multicore.a
memurai-sql.so
build/
cmake-build-*
.idea
CMakeSettings.json
